.barraNavegacao .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barraNavegacao .container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.conteudo-imagem{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.informativo1{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .informativo2{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .informativo3{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px;
  }

  .linha{
      display: flex;
      margin: 2.8%
  }

.rodapePrincipal-opflix .container {
    display: flex;
    justify-content: center;
}
