body {
    background-color: #FFF4CC;
    font-family: "Open Sans", "Raleway", Arial, sans-serif;
    color: #7ACCC1;
  }

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
}


nav{
    background-color: #7ACCC1;
    color: #B36BB0;
    display: flex;
    justify-content: center;
};

tr{
    margin: 40em;
};